.footer {
  text-decoration-color:aliceblue;
  display: flex;
  justify-content: space-around;
}
.footer-button {
  
  background-color: rgb(3, 3, 156);
  height: 5vh;
  border-radius: 15%;
}
.footer-span{
  color:white;
}