.Homepage {
  background-color: #02122c;
  padding: 2%;
  color: white;
}

.Homepage-nav {

  display: flex;
  justify-content: space-between;
  
}

.Homepage-nav-title img {
    height: 30px;
    width: 175px;
}

.Homepage-nav-menus {
  display: flex;
  align-items: center;
}

.Homepage-nav-menus button {
  background: none;
  border: none;
}